<div class="row basic-bg">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
    <div id="question_list" class="question-group">
    </div>
    <% if user_signed_in? %>
      <%= link_to 'New Question', new_question_path , class:"btn btn-default"%>
    <% end %>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths('question_index', extension: 'js') %>
