<p id="notice"><%= notice %></p>

<!-- START Search Widget -->
<div class="row">
    <div class="col-md-8 dashboard-details">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group question-group">
                    <input type="text" class="form-control" placeholder="Search Questions...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="question-group">
            <%= render partial: "question.html", collection: @questions %>
            <!-- END Question Widget -->
        </div>

    </div>

</div>
<% if user_signed_in? %>
<%= link_to 'New Question', new_question_path %>
<% end %>
