<div class="row basic-bg">
  <div class="col-md-12">
    <!-- Change author: current_user.email to current_user.uid when controller change is made -->
    <%= render 'form', question: @question, author: current_user.email %>
  </div>
</div>
