<div class="row">
<div class="col-md-12">
  <div class="panel ">
 <div class="panel-heading panel-default"><i class="fa fa-question-circle-o"></i>Revise Question
    <i class="fa fa-question-circle-o pull-right"></i>
 </div>
<%= render 'form', question: @question %>
</div>
 </div>
</div>
