<div class="row">
<div class="col-md-12">
  <div class="panel ">
 <div class="panel-heading panel-default"><i class="glyphicon glyphicon-question-sign"></i>Revise Question
    <i class="glyphicon glyphicon-question-sign pull-right"></i>
 </div>
<%= render 'form', question: @question %>
</div>
 </div>
</div>
