<div class="row basic-bg">
  <p id="notice"><%= notice %></p>
  <div class="col-md-12">
    <div class="panel ">
      <%= render partial: 'question_details', locals: {question: @question } %>
    </div>
  </div>
  <% if user_signed_in? & @question.most_recent? %>
    <%= link_to 'Revise', revise_question_path(@question) , class: "btn btn-primary"%> |
  <% end %>
  <%= link_to 'Back', questions_path, class: "btn btn-primary " %>
</div>
