html, body  {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Open Sans', sans-serif;
  background-color: $light-gray;

}

.rs-green {
  color: $rs-green !important;
}

.question-blue {
  color: $question-blue !important;
}

.section-purple {
  color: $section-purple !important;
}

.survey-teal {
  color: $survey-teal !important;
}

.dark-gray {
  color: $dark-gray !important;
}

.fa-list {
  color: $rs-green;
}

.fa-question-circle {
  color: $question-blue;
}

.fa-window-maximize {
  color: $section-purple;
}

.fa-clipboard {
  color: $survey-teal;
}

.status-green {
  color: $status-green;
}

.fa-ban {
  color: $dark-gray;
}

.fa-file-text-o {
  color: orange;
}

.fa-gavel {
  color: brown;
}

.fa-comments {
  color: purple;
}

.fa-files-o {
  color: red;
}

.download-sr {
  padding-top: 6px;
  font-size: 16px;
  color: $medium-gray;
}

.metrics-text {
  white-space: pre-wrap;
}

.login {
  padding: 10px;
}

.registration {
  padding: 10px;
}

.main-content {
  margin-top: 20px;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.no-inside-gutter {
  &>[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
  }
  &>[class^="col-"]:first-child {
    padding-left:15px;
  }
  &>[class^="col-"]:last-child {
    padding-right:15px;
  }

}
