
html, body,  {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    }

.body {
	font-family: 'Open Sans', sans-serif;
	background-color: $light-gray;
}


.login {
  padding: 10px;
}

.registration {
  padding: 10px;
}
