.container-fluid {
  .cdc-jumbotron {
    @extend .jumbotron;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 0px;
    background: url(../images/CDC_Landing_Page3.png)$cdc-blue left calc(50% - -310px) top no-repeat;
    background-size: auto 100%;
    border-bottom: 2px solid $cdc-dark-blue;
    .banner-subtitle {
      font-size: 24px;
    }
  }
}

.cdc-promo-banner {
  h1 {
    font-size: 12px;
  }
}

.opacity {
  opacity: 0.5;
}
