.form-edit-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
  .added-question-group{
    min-height: 500px;
    max-height: 500px;
    padding-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .add-question{
    padding: 15px;
    button{
      margin-right:10px;
    }
  }

  .question-result{
    margin: 0px;
  }

  .response-set-header{
    button {
      float: right;
    }
  }

  .response-set-label{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0px;
    span{
      padding-left: 10px;
    }
    span.right{
      padding-left: 70px;
      padding-right: 5px;
    }
    button {
      margin-bottom: 20px;
    }
  }

  .response-set-control{
    padding-right: 0px;
  }

  #program-var{
    width: 200px;
    margin-top: 10px;
  }
}
