.help-section {
  font-size: 16px;
  color: $dark-gray;
  border-left: 5px solid $light-gray;
  padding-left: 20px;
  margin-bottom: 32px;
}

.help-section-question {
  font-size: 20px;
  font-weight: bold;
}

.help-section-title {
  color: $cdc-blue;
  margin-bottom: 32px;
}

.help-section-subtitle {
  font-size: 24px;
}

.how-to-nav {
  padding: 0 !important;
  margin-top: 10px;
}
