


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  text-align: center;
  color: white;
  background-color: $cdc-blue;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100vh;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  min-height: 100%;
  h1 {
	  font-size: 42px;
	  font-weight: bold;
	  margin-bottom: 20px;
  }
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover-heading {
  border-bottom: 1px solid #2F74B2;
  padding-bottom: 18px;
}

/* Padding for spacing */
.inner {
  padding: 60px;
}

.lead {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 18px;
}

.tagline {
  font-weight: bold;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  margin-bottom: 50px;
   .btn-lg {
    padding: 20px 50px;
    font-weight: bold;
    font-size: 24px
  }

}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .mastfoot,
  .cover-container {
	  width: 800px;
  }
}
