.maincontent {
  border-left: 1px solid $light-gray;
  padding-left:12px;
}

.maincontent-details {
  padding-left: 15px;
  padding-top: 15px;
}

@media (max-width: $screen-sm-max) {
.maincontent-details {
  padding-left:0;
  }
}
.maincontent-item-name {
  margin-top: 0px;
  font-size: 24px;
  color: black;
}

.maincontent-item-info {
  color: $dark-gray;
}
