.maincontent {
  border-left: 1px solid $light-gray;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

.maincontent-item-name {
  color: $cdc-blue;
}

.maincontent-item-info {
  color: $dark-gray;
}
