.dashboard {
  margin-bottom: 20px;
  margin-top: 70px;
}

.dashboard-details {
  background-color: white;
  min-height: 90vh;
  margin-left: 20px;
}

.dashboard-activity {
  background-color: white;
  min-height: 90vh;
  margin-left: -10px;
  margin-right: 20px;
}

.basic-bg {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  min-height: 90vh;
}

.mystuff-bg {
  margin-bottom: 20px;
  margin-top: 130px;
  border-top: 3px solid $cdc-green;
  background-color: white;
  min-height: 90vh;
}
