.dashboard {
  margin-bottom: 20px;
}

.dashboard-details {
  background-color: white;
  min-height: 90vh;
  margin-left: 20px;
}

.dashboard-activity {
  background-color: white;
  min-height: 90vh;
  margin-left: -10px;
  margin-right: 20px;
}

.basic-bg {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  min-height: 90vh;
}

.fixed-height-list{
  max-height: 400px;
  min-height: 400px;
  overflow-y: auto;
}

.tags-table-header {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}

.my-stuff {
  .panel-body {
    max-height: 320px;
    min-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    .response-set-container{
      min-height: initial;
    }
    .response-set-details{
      overflow: visible;
      min-height: initial;
    }
    .question-set-details{
      overflow: visible;
      min-height: initial;
    }
    .form-container{
      max-height: initial;
      min-height: initial;
      overflow: initial;
    }
    .question-container{
      max-height: initial;
      min-height: initial;
      overflow: initial;
      li:first-child{
        width:94%;
      }
    }
  }
}
