.showpage_header_container {
  border-bottom: 1px solid $light-gray;
  height: 58px;
  padding-top: 8px;   
}

.showpage_title {
  font-size: 24px;
  color: $cdc-blue;
  margin-left: 8px;
  font-weight: bold;
}

.showpage-comments-title {
  font-size: 20px;
  border-top: 1px dashed $light-gray;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $dark-gray;
  font-weight: bold;
}
.showpage_button {
  border-right: 1px solid $light-gray;
  width: 48px;
  text-align: center;
}

.showpage_sidenav_subtitle {
  font-size: 18px;
  color: $dark-gray;
  height: 42px;
  padding-top: 6px;
  padding-left: 8px;
  border-bottom: 1px solid $light-gray;
}

.action_bar {
  text-align: right;
  border-bottom: 1px solid $light-gray;
  height: 42px;
  padding-top: 4px; 
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.subtitle {
  color: gray;
  span {
    margin-left: 10px;
    margin-right: 6px;
  }
}
