.survey-edit-container {
  .search-bar{
    margin-bottom: 10px;
  }

  .survey-group{
    text-align: left;
    margin-bottom: 20px;
  }

  .section-group{
    min-height: 500px;
    max-height: 1000px;
    padding-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top:10px;
  }
  .add-section{
    padding: 15px;
    button{
      margin-right:10px;
    }
  }

  .section-result{
    margin: 0px;
  }

  .survey-section-controls{
    justify-content: start;
    align-items: center;
    padding:5px;

    button {
      margin-bottom:10px;
    }
  }

  .delete-section{
    font-size: 18px;
    padding:4px 11px;
  }

  .section-container {
    @extend .panel-body;
    border-bottom: 1px solid $light-gray;
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
    color: $cdc-blue;
    padding: 6px 8px 6px 10px;
    li:first-child {
      width: 95%;
      float: left;
    }
  }
  .response-set-header{
    button {
      float: right;
    }
  }
  .response-set-label{
    text-align: left;
    vertical-align: middle;
    margin-bottom: 0px;
    span{
      padding-left: 10px;
    }
    span.right{
      padding-left: 80px;
      padding-right: 5px;
    }
  }
}
