$cdc-dark-blue: #0F3A5F;
$cdc-blue: #075290;
$cdc-green: #1B5125;
$cdc-orange: #EA5B0C;


$very-light-gray: #FBFBFC;
$light-gray: #e4e4e4;
$medium-gray: #9D9D9C;
$dark-gray: #575756;

$dark-bluegray: #283542;

$hover-blue: #E3F2FD;


$analytics-hover-blue: #C8EDFC;

$status-green: #00983A;

$form-id: #824083;