$cdc-dark-blue: #0F3A5F;
$cdc-blue: #075290;
$cdc-green: #1B5125;
$cdc-orange: #EA5B0C;

$responses-green: #2d7a58;
$rs-green: #215b42;
$question-blue: #075290;
$section-purple: #562482;
$survey-teal: #1a8080;

$very-light-gray: #FBFBFC;
$light-gray: #e4e4e4;
$medium-gray: #535351;
$dark-gray: #575756;

$dark-bluegray: #283542;

$hover-blue: #E3F2FD;


$analytics-hover-blue: #C8EDFC;
$preview-hover-blue: #e7f7fe;

$status-green: #00983A;

$section-id: #562482;
$responseset-id: #215b42;
$survey-id: #1a8080;
