$icon-font-path: '/assets/bootstrap/';
$fa-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary: #075290;
// $white: #FFFFFF;
//
//
$font-family-sans-serif: 'Open Sans Regular';
//
//
// $body-bg: $white;
//
// $navbar-border-radius: 0px;
//
// $navbar-default-bg: #0F3A5F;
// $navbar-default-link-color: $white;
//
// $navbar-inverse-bg: #075290;
// $navbar-inverse-link-color: $white;
