/* Large Devices, Wide Screens */
@media (min-width: 1200px) and (max-width: 2560px) {
  .date-picker {
    .data-title {
      display: inline-block;
    }
    .filter-icon{
      display: none;
    }
  }
}

/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .date-picker {
    .data-title {
      display: inline-block;
    }
    .filter-icon{
      display: none;
    }
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) { 
  header {
    .login-nav {
      height: 100px;
      .search {
        padding-right: 14px;
        .input-group {
          width: auto;
        }
      }
      .login {
        padding-right: 26px;
        text-align: right;
        span {
          margin-left: 20px;
          font-size: 18px;
          vertical-align: middle;
        }
        p {
          font-weight: bold;
          font-size: 12px;
          color: #949BA1;
          padding-top: 18px;
          margin-bottom: 16px;
        }
      }
    }
  }

  .filter-nav {
    display: none;
  }

  .date-picker {
    .data-title {
      display: inline-block;
    }
    .filter-icon{
      display: inline-block;
      border-right: 1px solid #ddd;
      text-align: center;
      margin-right: 12px;
      padding-right: 12px;
      span {
        font-size: 24px;
      }
      .filter-caret {
        padding-bottom: 12px;
        color: gray;
      }
    }
  }

  .main-section {
    margin-top: 25px;
    margin-bottom: 25px;
    .main-data-details {
      ul {
        display: table;
        width: 100%;
      }
      .list-group-item {
        display: table-cell;
        width: 25%;
        padding: 12px 12px 12px 12px;
        border-left: 1px solid #ddd;
        border-right: 0px;
        border-bottom: 0px;
        border-top: 1px solid #ddd;
        height: 86px;
        &:first-child {
          border-left: 0px solid #ddd;
          border-top: 1px solid #ddd;
        }
        &:last-child {
        }
      }
      .item-details {
        h1 {
          font-size: 11px;
        }
        p {
          font-size: 24px; 
          font-size: 3.5vw;
        }
        span {
          margin-right: 4px;
          font-size: 10px;
        } 
      }
    }
    .main-data-graph {
      padding: 12px 12px 12px 12px;
      border-top: 1px solid #ddd;
      margin-bottom: 32px;
    } 
  }
}

/* Extra Small Devices, Phones */ 
@media (min-width: 480px) and (max-width: 767px) { 
  header {          
    .login-nav {
      height: 100px;
      .search {
        padding-right: 14px;
        .input-group {
          width: auto;
        }
      }
      .login {
        padding-right: 26px;
        text-align: right;
        span {
          margin-left: 20px;
          font-size: 18px;
          vertical-align: middle;
        }
        p {
          font-weight: bold;
          font-size: 12px;
          color: #949BA1;
          padding-top: 18px;
          margin-bottom: 16px;
        }
      }
    }
    .navbar {
      height: 52px;
      margin-bottom: 0px;
      border: none;
      .navbar-toggle {
        background-color: gray;
        .icon-bar {
          background-color: white;
        }
      }         
      .nav-pills>li {
        border-left: 0px solid #929FA8;
        border-bottom: 1px solid #929FA8;
        a {
          height: 52px;
          padding-top: 8px;
          p {
            padding-top: 2px;
          }
        }
      }
      .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        height: 52px;
      }
      .nav-pills>li>a:hover, .nav-pills>li>a:focus {
        border-bottom: 0px;
      }
    }   
  }
      
  .filter-nav {
    display: none;
  } 
      
  .date-picker {    
    .filter-icon, .data-title {
      display: inline-block;
    }
    .filter-icon{
      display: inline-block;
      border-right: 1px solid #ddd;
      text-align: center;
      margin-right: 12px;
      padding-right: 12px;

      span {
        font-size: 24px;
      }
      .filter-caret {
        padding-bottom: 12px;
        color: gray;
      }
    }
  }

  .main-section {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right: 12px;

    .main-data-details {
      ul {
        display: table;
        width: 100%
      }

      .list-group-item {
        display: table-cell;
        width: 25%;
        padding: 12px 12px 12px 12px;
        border-left: 1px solid #ddd;
        border-right: 0px;
        border-bottom: 0px;
        border-top: 1px solid #ddd;
        height: 86px;
        &:first-child {
          border-left: 0px solid #ddd;
          border-top: 1px solid #ddd;
        }
        &:last-child {
        }
      }
      .item-details {
        h1 {
          font-size: 11px;
        }
        p {
          font-size: 24px; 
          font-size: 4vw;
        }
        span {
          margin-right: 4px;
          font-size: 10px;
        }
      }
    }
    .main-data-graph {
      padding: 12px 12px 12px 12px;
      border-top: 1px solid #ddd;
      margin-bottom: 32px;
    }
  }

  .sub-section {
    h1 {
      margin-left: 12px;
    }
    .sub-section-details {
      .item-details {
        margin-top: 32px;
        h2 {
          color: #929FA8;
          font-weight: bold;
          font-size: 12px;
          text-transform: uppercase;
          margin-top: -8px;
        }
        p {
          color: #212727;
          font-size: 22px;
        }
        span {
          font-size: 38px;
          margin-bottom: 12px;
        } 
      }
    }
  }
}

/* Custom, iPhone Retina */ 
@media (min-width: 320px) and (max-width: 479px) {
  header {
    .login-nav {
      height: 100px;
      .search {
        padding-right: 14px;
        .input-group {
          width: auto;
        }
      }
      .login {
        padding-right: 26px;
        text-align: right;
        span {
          margin-left: 20px;
          font-size: 18px;
          vertical-align: middle;
        }
        p {
          font-weight: bold;
          font-size: 12px;
          color: #949BA1;
          margin-bottom: 16px;
          padding-top: 12px;
        }
      }
    }

    .navbar {
      height: 52px;
      margin-bottom: 0px;
      border: none;
      .navbar-toggle {
        background-color: gray;
        .icon-bar {
          background-color: white;
        }
      }         
      .nav-pills>li {
        border-left: 0px solid #929FA8;
        border-bottom: 1px solid #929FA8;
        a {
          height: 52px;
          padding-top: 8px;
          p {
            padding-top: 2px;
          }
        }
      }
      .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        height: 52px;
      }
      .nav-pills>li>a:hover, .nav-pills>li>a:focus {
        border-bottom: 0px;
      }
    }
  }   

  .filter-nav {
    display: none;
  } 
  .date-picker {    
    .filter-icon, .data-title {
      display: inline-block;
    }
    .filter-icon{
      display: inline-block;
      border-right: 1px solid #ddd;
      text-align: center;
      margin-right: 12px;
      padding-right: 12px;
      span {
      font-size: 24px;
      }
      .filter-caret {
        padding-bottom: 12px;
        color: gray;
      }
    }
  }
  .main-section {
    margin: 12px 12px 12px 12px;  
    .main-data-details {
      .list-group-item {
        padding: 12px 12px 12px 12px;
        height: 86px;
        &:first-child {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          border-top: 1px solid #ddd;
        }
        &:last-child {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-bottom: 1px solid #ddd;
        }
      }
      .item-details {
        h1 {
          font-size: 11px;
        }
        p {
          font-size: 24px;
          margin-top: 0px;
        }
      }
    }
    .main-data-graph {
      padding: 12px 12px 12px 12px;
      .data-piechart {
        text-align: center;
        .chart {
          height: 150px;
          width: 100%;
        }
      }
    }
  }   
}
