.admin-group {
  @extend .panel-group;
  text-align: left;
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  border-bottom: 2px dashed $light-gray;
  clear:both;
  .btn {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
