
.analytics-group {
  margin-bottom: 10px;
  height: 90px;
  text-align: center;
  width: 60%;
  position: relative;
  left: 18%;
}

.analytics-list-group {
  @extend .list-group;
  display: table;
  width: 100%;
  margin-bottom: 0px;
}

.analytics-list-item {
  @extend .list-group-item;
  display: table-cell !important;
  width: 25% !important;
  text-align: center !important;
  border: none !important;
  height: 90px !important;
  &:first-child {
    border-left: none !important;
  }
}

.analytics-active-item {
  background-color: $analytics-hover-blue !important;
}

.preview-active-item {
  background-color: $preview-hover-blue !important;
}

.cdc-preferred-note {
  background:url(img/cdc-preferred.svg) right top no-repeat;
}

.cdc-preferred-column {
  background:url(img/cdc-preferred.svg) left center no-repeat;
}

.cdc-preferred-search-result {
  background:url(img/cdc-preferred.svg) center top no-repeat;
  background-size: contain;
}

.item-icon {
  margin-top: 4px;
}

.item-value {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.item-title {
  font-size: 12px;
  margin-top: 2px;
}
