.has-feedback{
  width: 100%
}
#system-select-dropdown{
  height: 34px;
  max-width: 200px;
}
.modal-header-concept{
  padding-top:10px;
  padding-bottom:5px;
}
.modal-body-concept{
  padding-top:0px;
}
.checkbox-label{
  width: 100%
}