.question-form-group {
  @extend .panel-group;
  text-align: left;
  margin-bottom: 20px;
}

.response-set-label {
  text-align: left;
  vertical-align: middle;
  margin-bottom: 0px;
  label{
    padding-top: 7px;
  }
  button{
    float:right;
  }
}

.selected_response_sets {
  margin-top: 20px;
}
.question-group {
  @extend .panel-group;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;

  .question-container {
    @extend .panel-body;
    border-bottom: 1px solid $light-gray;
    font-weight: bold;
    border-radius: 0px;
    font-size: 14px;
    color: $cdc-blue;
    padding: 6px 8px 6px 10px;
    li:first-child {
      width: 95%;
      float: left;    
    }
  }

  .question {
    @extend .panel; 
    border-radius: 0px;
    border: 1px solid $light-gray;
  }

  .response-set-details {
    @extend .panel-body;
    padding: 0px;
    background-color: $light-gray;
    .list-inline {
      margin-left: 0px;
    }
    ul {
      margin-bottom: 0px;
    }
    a {
      color: $cdc-blue;
    }
    span {
      padding: 4px 6px 0px 4px;
    }
    .reponse-number {
      height: 25px;
      padding: 4px 10px 0px 10px;
      border-bottom-left-radius: 0px;
      font-size: 12px;
      span {
        padding: 0px 10px 0px 0px;
      }
    }
  }
}
