.recent-items-panel {
  @extend .panel;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}

.recent-items-heading {
  @extend .panel-heading;
  border-radius: 0px;
  font-weight: bold;
  color: $dark-gray;
  font-size: 18px;
  border-bottom: 3px solid $light-gray;
}

.recent-items-body {
  @extend .panel-body;
  padding: 0px;
}

.recent-items-icon {
  color: $dark-gray;
  float: left;
  text-align: center;
  i {
    font-size: 26px;
  }
}

.recent-items-value {
  float: left;
  margin-left: 12px;
}

.recent-item-list {
  @extend .list-group-item;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 0px !important;
  font-weight: bold !important;
  color: $cdc-blue !important;
  font-size: 16px !important;
  &:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
  }
  &:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  &:hover {
    background-color: $analytics-hover-blue !important;
    text-decoration: none !important;
  }
}
