.new-question-group {
	@extend .panel-group;
	margin-top: 20px;
	text-align: left;
	margin-bottom: 20px;
	.new-question {
		@extend .panel; 
		border-radius: 0px;
		border: 1px solid $light-gray;
		border-top: 0px;
		}
	.new-question-container {
			@extend .panel-body;
			border-bottom: 1px solid $light-gray;
			border-radius: 0px;
			padding: 0px;
		}
	.new-question-content {
		@extend .list-group;
		display: table;
		width: 100%;
		margin: 0px;
		border-radius: 0px;
	}	
	.new-question-content-item {
		@extend .list-group-item;
		display: table-cell;
		border: 0px;
		padding: 0px;
		&:first-child{
			border-radius: 0px;
		}
		&:last-child {
			border-radius: 0px;
			padding: 0px;
			width: 40px;
		}
	.new-question-details {
		padding-left: 8px;
		padding-right: 8px;
		border-left: 5px solid $cdc-blue;
		}	
	}
	.result-type-wrapper {
  	display: table;
  	width: 100%;
	}
	.result {
		color: $cdc-blue;
		font-size: 18px;
	}	
	.result-type-icon {
    display: table-cell;
    width: 10%;
    text-align: center;
    color: $light-gray;
    vertical-align: top;
    padding-top: 6px;
	}
	.result-nav {
		text-align: center;
		border: 1px solid $light-gray;
		border-right: 0px;
		border-bottom: 0px;
		color: $medium-gray;
	
	}
  .result-nav-item {
    margin-bottom: 16px;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 16px;
    	&:last-child {
  		  border-bottom: 0px;
		}
  }
	.response-analytics {
		margin-top: 8px;
		padding-bottom: 8px;
	}
	.response-analytics-item {
		text-align: center;
		width: 75px;
		border-right: 1px solid $light-gray;
		.item-description {
			margin-bottom: 0px;
			color: $medium-gray;
			font-size: 11px;
			text-transform: uppercase;
		}
		.item-value {
			font-size: 18px;
			color: $cdc-blue;
			font-weight: bold;
		}
		.item-status-published {
			color: $status-green;
			padding-bottom: 5px;
		}
	}
	.result-description {
		margin-top: 4px;
	}
	.response-timestamp {
		text-transform: uppercase;
		font-size: 11px;
		color: $medium-gray;
		text-align: right;
	}	
	.response-set-details {
			@extend .panel-body;
			padding: 0px;
			background-color: white;
			border-top: 1px dashed $light-gray;
			.list-inline {
				margin-left: 0px;
			}
			.response-set-items {
				margin-bottom: 0px;
				border-left: 5px solid $cdc-orange;
			}
			a {
				color: $cdc-blue;
			}
			span {
				padding: 4px 6px 0px 4px;
			}
		.reponse-number {
			height: 36px;
			padding: 8px 10px 0px 10px;
			border-bottom-left-radius: 0px;
			font-size: 14px;
			span {
				padding: 0px 10px 0px 0px;
			}
		}
	}		
}









