.u-result-content {
  @extend .list-group;
  display: table;
  width: 100%;
  margin: 0px;
}

.u-result {
  @extend .panel;
  border-radius: 0px;
  border: 1px solid $light-gray;
  border-top: 0px;
}

.u-result-group {
  @extend .panel-group;
  text-align: left;
  margin-bottom: 10px;
  .u-result-container {
    @extend .panel-body;
    padding: 0px;
  }
  .u-result-content-item {
    @extend .list-group-item;
    display: table-cell;
    border: 0px;
    padding: 0px;
    &:first-child{
      border-radius: 0px;
    }
    &:last-child {
      border-radius: 0px;
      padding: 0px;
      width: 40px;
    }
    .u-result-details {
      padding-left: 8px;
      padding-right: 8px;
      border-left: 5px solid $cdc-blue;
    }

    //** MODIFIERS **//
    .result__survey {
      border-left: 5px solid $survey-id;
    }
    .result__section {
      border-left: 5px solid $section-id;
    }
    .result__survey_section {
      border-left: 5px solid $section-id;
    }
    .result__nested_section {
      border-left: 5px solid $section-id;
    }
    .result__response_set {
      border-left: 5px solid $responseset-id;
    }
    .result__response_set_dropped {
      border-left: 5px solid $responseset-id;
    }
    .result__question {
      border-left: 5px solid $cdc-blue;
    }

    .result-status-condensed {
      float:right;
      text-align:right;
      font-size: 11px;
      text-transform: uppercase;
      margin-top:5px;
      color: $medium-gray;

      p {margin-bottom:5px;}

      .item-status-published {
        color: $status-green;
        padding-bottom: 0;
      }

    }
  }
  .u-result-content-item.condensed {
    .result-name {
      font-size:15px;
    }
      .result-description {
        margin-top: 4px;
        font-size:13px;
        color: $dark-gray;
      }
    .unlinked-result-name {
      font-size:15px;
    }
    .result-type-icon {width:3em;}
    .result-nav-item {
      position: relative;
      text-align: center;
      padding-top:5px;
       &:first-child {
        position: absolute;
        top: 0;
        padding-left: 10px;
      }
      &:last-child {
        border-bottom: 0px;
        position: absolute;
        bottom: 0;
        padding-bottom:2px;
        width: 40px;
        padding-top:5px;
      }
    }
    .panel-body {padding:5px 5px;}

    .result-details-content {margin : 0; font-size:13px;}

    .result-linked-details {
      padding:0;
      .result-linked-number {
        height:auto;
        font-size:13px;
        padding:4px 6px 4px 10px;
      }
    }
  }

  .result-name {
    font-size: 18px;
    color: $cdc-blue;
    margin-bottom: 5px;
    .result-type {
      color: $dark-gray;
    }
  }
  .unlinked-result-name {
    font-size: 18px;
    color: $dark-gray;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    .result-type {
      color: $dark-gray;
    }
  }
  .result-type-wrapper {
    display: table;
    width: 100%;
  }
  .result {
    color: $cdc-blue;
    font-size: 18px;
  }
  .result-type-icon {
    display: table-cell;
    width: 10%;
    width: 3em;
    text-align: center;
    color: $medium-gray;
    vertical-align: top;
    padding-top: 6px;
  }
  .result-nav {
    border-top: 1px solid $light-gray;
    border-left: 1px solid $light-gray !important;
    color: $medium-gray;
    vertical-align: middle;
    position: relative;
  }
  .result-nav-item {
    //* border-bottom: 1px solid $light-gray; *//
    //* border-top: 1px solid $light-gray; *//
    padding-bottom: 12px;
    padding-top: 10px;
    position: relative;
    text-align: center;
     &:first-child {
      position: absolute;
      top: 0;
      border-bottom: 0px;
      padding-left: 10px;
    }
    &:last-child {
      border-bottom: 0px;
      position: absolute;
      border-top: 0px;
      bottom: 0;
      width: 40px;
    }
    .fa-check-square {
      color:#3a3;
    }
  }
  .result-analytics {
    margin-top: 8px;
    padding-bottom: 8px;
  }
  .result-analytics-item {
    text-align: center;
    width: 75px;
    border-right: 1px solid $light-gray;
    .item-description {
      margin-bottom: 0px;
      color: $medium-gray;
      font-size: 11px;
      text-transform: uppercase;
    }
    .item-value {
      font-size: 18px;
      color: $cdc-blue;
      font-weight: bold;
    }
    .item-status-published {
      color: $status-green;
      padding-bottom: 5px;
    }
  }
  .result-description {
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

  }
  .result-timestamp {
    text-transform: uppercase;
    font-size: 11px;
    color: $medium-gray;
    text-align: right;
    float:right;
  }
  .result-linked-details {
    @extend .panel-body;
    padding: 0px;
    background-color: white;
    border-top: 1px dashed $light-gray;
    border-bottom: 1px solid $light-gray;
    .list-inline {
      margin-left: 0px;
    }
    .result-linked-item {
      margin-bottom: 0px;
      border-left: 5px solid $cdc-orange;
    }
    .associated__responseset {
      border-left: 5px solid $responseset-id;
    }
    .associated__question {
      border-left: 5px solid $cdc-blue;
    }
    .associated__section {
      border-left: 5px solid $section-id;
    }

    a {
      color: $cdc-blue;
    }
    span {
      padding: 4px 6px 0px 4px;
    }
    .result-linked-number {
      height: 36px;
      padding: 8px 6px 0px 10px;
      border-bottom-left-radius: 0px;
      font-size: 14px;
      i {
        padding: 0px 10px 0px 0px;
      }
    }
  }
}
/* reposition the timestamp information for md screen sizes so it doesn't
conflict with other elements of the search results widget. This is only
needed in the medium grid size because smaller sizes use 100% width */
@media (max-width: $screen-md-max) and (min-width: $screen-md-min) {
  .u-result-group {
    .result-timestamp {
      float:none;
      margin:5px 0;
      p {
        margin-bottom:0;
        display:inline-block;
      }
      p:last-child {
        margin-left:5px;
        padding-left:5px;
        border-left:1px solid #ace;
      }
    }
  }
}

.result-details-content {
  margin-top: 8px;
  margin-bottom: 6px;
  padding-left: 20px;
  padding-right: 12px;
}
