.section-group {
  @extend .panel-group;
  text-align: left;
}
.section-nested-item-group {
  @extend .panel-group;
  text-align: right;
  margin-bottom: 10px;
  float: right;
  width: 50%;
}
.section {
  @extend .panel;
  width: 180px;
  border-radius: 0px;
  border: 1px solid $light-gray;

}
.section-container {
  @extend .panel-body;
  border-bottom: 1px solid $light-gray;
  font-weight: bold;
  border-radius: 0px;
  font-size: 14px;
  color: $cdc-blue;
  padding: 6px 8px 6px 10px;
}
.section-title {
  @extend .panel-title;
  border-bottom: 1px solid $light-gray;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 10px;
  margin-right: 8px;
}
.section-list-group {
  @extend .list-group;
  display: table;
  width: 100%;
  font-size: 12px;
  margin-bottom: 0px;
}
.section-list-group-item {
  @extend .list-group-item;
  text-align: center;
  display: table-cell;
  width: 50%;
  font-size: 12px;
  border: 0px;
}
.section-item-icon {
  color: $dark-gray;
}
.section-item-value {
  font-size: 28px;
}
.section-item-title {
  font-size: 14px;
  margin-top: 0px;
}
.section-info {
  border-top: 1px solid $light-gray;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight:normal;
  color: gray;
}
.question-set-details {
  @extend .panel-body;
  padding: 0px;
  background-color: $light-gray;
  .list-inline {
    margin-left: 0px;
  }
  .question-set-items {
    margin-bottom: 0px;
  }
  a {
    color: $cdc-blue;
  }
  span {
    padding: 8px 6px 0px 4px;
  }
}
.question-number {
  background-color: $cdc-blue;
  color: white;
  height: 32px;
  width: 140px;
  padding: 4px 10px 0px 10px;
  border-bottom: 1px solid $cdc-blue;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  i {
    padding: 0px 6px 0px 0px;
    float: left;
  }
  p {
    font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
  }
}
.list-program-var{
  p{
    margin-bottom: 0px;
  }
}

.section-edit-search-filters-heading {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}

.section-edit-search-filter {
  @extend .list-group-item;
  display: table-cell !important;
  width: 50% !important;
  color: $cdc-blue !important;
  text-align: center !important;
  border: solid 1px $light-gray !important;
  margin-top: 5px;
  &:first-child {
    border-left: none !important;
  }
  &:hover {
    background-color: $analytics-hover-blue !important;
    text-decoration: none !important;
  }
}

.section-edit-search-filter-active-item {
  background-color: $analytics-hover-blue !important;
}
