<h1>Editing Question Response Set</h1>

<%= render 'form', question_response_set: @question_response_set %>

<%= link_to 'Show', @question_response_set %> |
<%= link_to 'Back', question_response_sets_path %>
