.input-label {
  font-size: 18px;
}

.input-format {
  @extend .form-control;
  height: 40px;
  border: 1px solid $cdc-blue;
  border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-indent: 1px;
  text-overflow: '';
}

.input-select {
  @extend .input-format;
  background: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' viewBox='0 0 24 24'><path fill='#444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}

.form-check-input {
  margin: 10px !important;
}
