.table-label{
	font-family: "Open Sans",sans-serif;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
	float: left;
	margin-top: 5%;
	padding-left: 0px;
}

.set-table{
	@extend .table;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-bottom: 0px;
	thead {
		tr th {
			border-bottom: 0px;
			vertical-align: middle;
			.table-icon{
				text-align: center;
				font-size: 26px;
				a{
					color: $cdc-blue;
				}
			}
		}
		background-color: #F5F5F5;
	}
	tbody{
		tr td{
			vertical-align: middle;
			padding-right: 0px;
			.table-icon{
				text-align: center;
				font-size: 20px;
				a{
					color: #787878;
				}
			}
		}
		i.table-row-delete{
				margin-left: 14px;
				margin-top: 14px;
		}
	}
}

div.fixed-height-table{
  max-height: 450px;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

div.table-scrolling-div{
    display:inline-block;
    zoom: 1;
    *display:inline;
    margin-top:0px;
    height:300px;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll-table-header{
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0px;
  thead{
    width: 100%;
    table-layout: fixed;
      tr{
        table-layout: fixed;
      width: 100%;
      /*position: absolute;*/
      vertical-align: middle;
    }
  }

}

table.scroll-table-body{
  overflow:hidden;
  width: 100%;
  table-layout: fixed;
  tbody{
    table-layout: fixed;
  }
  tr{
    table-layout: fixed;
    vertical-align: middle;
    td:nth-of-type(1) {width:10%;vertical-align: middle; text-align: center; padding: 0px;}
    td:nth-of-type(2) {width:60%;vertical-align: middle; padding: 0px;}
    td:nth-of-type(3) {width:10%;vertical-align: middle; padding: 0px;}
    td:nth-of-type(4) {width:30%;vertical-align: middle; padding: 0px;}
  }
}

.tag-item-menu {
  position: absolute;
	z-index: 100;
	max-height: 200px;
	overflow-y: auto;
  box-sizing: border-box;
  width: 30%;
  border: 1px solid #cccccc;
  background-color: white;
}

.tag-item {
  padding: 2px 6px;
  cursor: default;
}

.tag-item-highlighted {
  color: white;
  background-color: #4095bf;
}

/*table.fixed-height{
   height:300px;
   display: -moz-groupbox;
   width: 95%;
   table-layout: fixed;
    tr {
      table-layout: fixed;
      width: 100%;
      td{
        vertical-align: middle;
      }
    }
  tbody{
      height: 200px;
      width: 95%;
      position: absolute;
      overflow-y: auto;
      table-layout: fixed;
      tr {
        table-layout: fixed;
        width: 100%;
      td{
        vertical-align: middle;
      }
    }

    height: 200px;
    /*position: absolute;
  }
}*/
