<h3>Create Form</h3>
<hr>
<div class="col-md-4">
  <div id='search-bar-div'>
    <%= form_tag(new_form_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Questions" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>
  <div id='search-results-div'>
  </div>
</div>
<%= render 'form', form: @form %>
