.cdc-utlt-nav {
  @extend .navbar;
  background-color: $cdc-dark-blue;
  height: 52px;
  margin-bottom: 0px;
  z-index: 500;

  a {
    color: white;
  }
  a:hover, a:focus {
    color: $cdc-dark-blue;
  }
}

a.tutorial-link {
  color: $cdc-dark-blue !important;
}

a.cdc-brand:hover {
  color:white;
}

a.cdc-brand:focus {
  color:white;
}

.cdc-brand {
  @extend .navbar-brand;
  a:hover, a:focus {
    color: white;
  }
  padding: 13px 0px 0px 0px;
}

.filter-brand {
  @extend .navbar-brand;
  color: $medium-gray;
  font-size: 20px;
  padding: 0px 0px 0px 0px;
}

.cdc-navbar-toggle {
  @extend .navbar-toggle;
  color: white;
  padding: 13px 0px 0px 0px;
}

.cdc-nav {
  @extend .nav;
  padding: 0px;
  .open>a {
    color: $cdc-dark-blue;
  }
}

.cdc-utlt-navbar-nav {
  @extend .navbar-nav;
  padding: 0px 0px 0px 20px;
  .utlt-navbar-item>a {
    height: 50px;
  }
  .utlt-navbar-icon {
    padding-right: 6px;
  }
  span {
    margin-left: 6px;
  }
  .item-navbar-icon {
    margin-right: 6px;
  }
  .cdc-nav-dropdown {
    background-color: white !important;
  }
}

.filter-brand {
  @extend .navbar-brand;
  color: $medium-gray;
  font-size: 20px;
  height: 20px;
  padding: 0px 10px 0px 6px;
}

.filter-navbar {
  @extend .navbar;
  height: 20px;
  min-height: 20px;
  margin-bottom: 20px;
}

.filter-nav {
  @extend .nav;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.filter-utlt-navbar-nav {
  @extend .navbar-nav;
  padding: 0px 0px 0px 0px;
  .utlt-navbar-item>a {
    height: 20px;
  }
  .utlt-navbar-icon {
    padding-right: 6px;
  }
  span {
    margin-left: 6px;
  }
  .item-navbar-icon {
    margin-right: 6px;
  }
  .cdc-nav-dropdown {
    background-color: white !important;
  }
}

.filter-navbar-item {
  color: $medium-gray;
  height: 20px;
  font-size: 16px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 8px !important;
  padding-right: 16px !important;
  .item-navbar-icon {
    margin-right: 6px;
  }
  a:hover, a:focus {
    background-color: white;
    height: 20px;
  }
  span {
    margin-left: 6px;
  }
}

.cdc-nav-main {
  @extend .navbar;
  background-color: $cdc-blue;
  text-align: center;
  height: 60px;
  margin-bottom: 20px;
  border-radius: 0px;
  .cdc-navbar-nav {
    width: 100%;
    height: 60px;
    text-align: center;
    > li {
      float: none;
      display: inline-block;
    }
  }
  .cdc-navbar-item {
    height: 60px;
    padding: 18px 18px 0px 18px;
    .item-navbar-icon {
      margin-right: 6px;
    }
    a:hover, a:focus {
      background-color: white;
      height: 60px;
    }
    span {
      margin-left: 6px;
    }
  }
}

.alerts-badge {
  @extend .badge;
  background-color: red;
  margin-left: 8px;
}

.notif-button {
  height: 60px;
  min-width: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  margin-top: -18px;
  margin-left: -18px;
  margin-right: -18px;
}

.notification-menu-item {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.notification-menu-item:hover {
  background-color: #e4e4e4;
}

.current-group-menu-item {
  list-style-type: none;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  .btn {
    @extend .btn;
    margin-right: 0px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
    border-color: $dark-gray;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.group-dropdown-menu {
  @extend .dropdown-menu;
  min-width: 240px;
}

.cdc-navbar-collapse {
  @extend .navbar-collapse;
  z-index: 500;
  background-color: $cdc-dark-blue;
}

.cdc-nav-dropdown {
  @extend .dropdown-menu;
  min-width: 200px;
  background-color: white;
  .drop-form {
    .cdc-nav-dropdown-item {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857;
      color: #333;
      white-space: nowrap;
    }
  }
  ul {
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 250px;
    width: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
  }
}

.version-display {
  margin-left: 20px !important;
  margin-bottom: 5px;
  color: $medium-gray;
}

.skiptocontent {
  position: absolute;
  top: 0px;
  left: 0px;
  background: $cdc-dark-blue;
  color: white;
  width: 15%;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
  a:focus {
    position: absolute;
    top: 40px;
    left: 0px;
    padding: 10px;
    background: $cdc-dark-blue;
    color: white;
    -webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
  }
}
