nav {
	background-color: $cdc-dark-blue;
	height: 50px;
	a {
	color: white;
	}	
}

.navbar-utility {
	background-color: red;
	
}

.navbar-main {
	background-color: $cdc-blue;
	text-align: center;
	margin-top: 50px;
	height: 80px;
	margin-bottom: 20px;
}
