<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vocabulary Service</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= javascript_include_tag *webpack_asset_paths('babel-polyfill', extension: 'js') %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
