<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vocabulary Service</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if Settings.enable_adobe_analytics %>
      <script language="JavaScript" type="text/javascript" src="https://www.cdc.gov/JScript/metrics/topic_levels.js"></script>
      <script language="JavaScript" type="text/javascript" src="https://www.cdc.gov/JScript/metrics/s_code_v21_cdcgov.js"></script>
    <% end %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= javascript_include_tag *webpack_asset_paths('babel-polyfill', extension: 'js') %>
    <%= javascript_include_tag *webpack_asset_paths('bootstrap', extension: 'js') %>
  </head>

  <body class="body">
    <%= yield %>
  </body>
</html>
